

*{ 
    margin: 0px;
    border: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: whitesmoke;
}
/** Navigation bar -Section1**/

.head-bar{
    height: 43px;
    background-color:#22224b ;
    color: white;
    border-radius: none;
    display: flex;
    justify-content:center;
    align-items: center;  
}

.news{
    width: 80%;
    height: 50px;
    font-size: 20px;
    padding-top: 8px;
    align-self: center;
}
.social-icon{
    border: none;
    height: 35px;
    background-color:#131a54;
    width: 300px ;  
}
.social-icon a i{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color:white;
    margin-left: 15px;
    border-radius: 50%;
    transition: all  2s  ease  0s  ;
}
.social-icon a i:hover{
    transform: rotate(350deg);
}

/** section2 **/
.logo{
    height: 150px;
    display: flex;
    align-items: center;
    background-color:rgba(240, 19, 122, 0.952);
    justify-content: center;
}
.logo-image{
    height: 150px;
    width: 50%;
    background-image:url("photo44.png") ;
    background-size: 100%  100%;    
}



/**main section**/
.image-school{
    height: 700px; 
    margin-bottom: 100px;   
}
.image{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("./images/school1\ \(2\).jpeg");
    background-size: 100%  100%;
    animation: slider 20s normal 0s infinite  ;
}
@keyframes slider{
    0%{
        background-image: url("./images/school1\ \(2\).jpeg");
    }
    25%{
        background-image: url("./images/school1.jpeg");
    }
    50%{
        background-image: url("./images/school11.jpeg");
    }
    75%{
        background-image: url("./images/school5.jpeg");
    }
}
.slide{
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;   
}
.nav{
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav button{
    font-size: 25px;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(11, 116, 109);
}
.menubar{
    height: 50px;
    width: 100%;
    background-color:rgba(44, 46, 47, 0.653);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.75;
    position: sticky;
   
}
.tab{
    height: 70%;
    width: 10%;
    border: 2px solid none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: none;
}
.tab a{
    opacity: none;
    color:#f5e984;
    opacity: none;
    text-decoration:none;
    align-self: center;
    font-size: 20px;
    font-weight: 700;
}
.tab:hover{
    background-color: #9a6413d0; 
    border: 0.5px solid #e77a36;
}

.tab a{
    color:#f5e984;
}

.main{
    background-color: whitesmoke;
}

/* information section */

.main{
    height: 700px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2%;
}
.information{
    background-image: url("photo10.jpg");
    height: 90%;
    width: 50%;
    background-size: cover;
    display: flex;
    box-shadow: #01334a;
    justify-content: center;
    margin-right: 20px;
}

.opa-city1{
    height: 100%;
    width:100%;
    background-color: #0781a6b3;
    shape-outside: margin-box; 
    background-position: center;
   
}
.main-content{
    
    color: white;
    padding: 10%;
    display: block;
    justify-content: center;
    align-items: center;
    
    
}
.main-content h1{
     text-align: center;
     margin-top: 20px;
     padding-left: 30px;
     margin:20px;
     text-decoration: underline;
}
.main-content p{
    text-align: center;
    font-size: 23px;
    
}
/* notice section */

.notice{
    height:90% ;
    width: 40%;
    display: block;
    align-items: center;
    justify-content: center; 
    margin-left: 10px; 
}
.notice-head{
    height:50px ;
    width: 75%;
    background-color: #131a54;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 11%;

}
.notice-head p{
    color: white;
    align-self:center;
    font-size: 30px;
    font-weight: 900;
    
}
.advertize{
    height:90% ;
    width: 75%;
    background-image: url("smvsNews.png");
    background-size:cover;
    margin-top: 3%;
    margin-left:11%;
    margin-bottom: 2.5%;
    margin-right:0%;
    border: 1px black dashed;

}

/* Facility */

.fasility-text{
    height: 100px;
    font-weight: 700;
    font-size: 60px;
    background-color: #1f788fa5;
    text-align: center;
    text-decoration: underline;
    margin-top:25px;
}
.fasi-main{
    height:700px;
    background-color: #e2e2e2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    height: 40%;
    width: 20%;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 10px; 
    border-radius: 3%;
}
.fasility-icon{
    height: 30%;
    width:30% ;
    background-color: white;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-right:35% ;
    margin-top:20% ;
    margin-bottom:20% ;
}
.fasility-icon i{
    margin-top: 5%;
}
.fasility-icon:hover{
    background-color: rgba(255, 255, 255, 0.559);
    transform:rotate(360deg) scale(.9);
}
.info{
    height: 300px;
    background-color: #e2e2e2;
    margin-bottom: 5px;
}
.text p{
    font-size: 20px;
    color:black;
    word-spacing: 10px;
    text-align: center;
    padding-top: 6%;
    font-weight: 500;    
}
.text{
    width: 80%;
    padding-left:10% ;
    padding-right: 10%;
}
/** Gallery **/
.gallery-text{
    height: 100px;
    background-color: #1f788fa5;
    text-decoration: underline;

}    
.gallery-text p{
        font-weight: 700;
        text-align: center;
        font-size: 60PX;
        padding-top: 13px;
}
/* slider */

.slider{
    margin-top: 5px;
    height:550px;
    justify-content: center;
    align-items: center;
}
main{
    width: 70%;
    height: 500px;
    margin: auto;
    margin-top:10px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 3px rgb(97, 97, 97);
    position: relative;
    background-position: center;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;   
}
.click{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 5%;
}
button{
    margin: 0;
    margin-top: 18%; 
}  
.click button{
    font-size: 25px;
    padding: 1px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(11, 116, 109);
}
.btn2{
    height: 30px;
    margin-bottom: 10px;
}
.btn2 a{
    margin-left: 18%;
    margin-bottom: 3%;
    font-size: 20px;
    color: rgb(10, 80, 86);}



/**last-container**/
.last-container{
    height: 200px;
    background-color: #e2e2e2;
    display: flex;
    justify-content:center;
    align-items: center;     
  }
  .box1{
    text-decoration: none;
    height: 50%;
    background-color:yellow ;
    width: 80%;
    margin-left: 5%;
    align-self: center;
  }
  .box2{
    text-decoration: none;
    height: 50% ;
    background-color: orange ;
    width: 80%;   
  }
  .box3{
    text-decoration: none;
    height: 50%;
    background-color:rgb(71, 193, 241) ;
    width: 80%;
    margin-right: 5%;  
  }
  .icons{
    text-align: left;
    margin-left: 10%;
    margin-top: 7%;
    color: white;
    font-size:150%;
}
.icons1{
    margin-left: 19%;
    font-size: 15px;
    color: white;
    text-decoration:none;
}

/**footer section**/
footer{
    text-decoration: none;
}
.foot-msg{
    height:50px;
    background-color: #0e4e70;
    font-weight: 900;
    color: white;
    text-align: center;
    font-size: 30px;

}
.foot-msg p{
    padding-top: 6px ;
    padding-bottom: 1.5px;
}
.footer{
    height: 270px;
    background-color:#01334a ;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;

}
.footer-logo{
    height: 200px;
    width: 200px;
    background-color: #fff;
    margin-right: 8%;
    border-radius: 50%;
    background-image: url("photo43.jpeg");
    background-size: cover;
}
.foot-add{
    height: 170px;
    width: 220px;
    color: #fff;
    margin-top: 2%;
    font-size: 20px;
    
}


.foot-manu{
    margin-left: 10%;
    background-color:#01334a ;
    padding-top: 0.5%;
    border-left:1px solid white;
    padding-left: 5px;
    text-decoration: none;
    padding-bottom: 0.5%;  
}
a{
    color: white;
    font-size: 20px;
    text-decoration: underline;

}
.foot-icon{
    border: none;
    height: 50pX;
    margin-left:10%;
    padding-left: 3%;
}
.foot-icon a{
    padding-left:13% ;
    color: white;
    font-size: 20px;
    
}
.foot-icon a i{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.299);
    margin-left: 20px;
    border-radius: 50%;
    transition: all 1s ease-in  ;
}
.foot-icon a i:hover{
    transform:rotate(360deg);
}

.copyright{
    height: 75px;
    font-size: 17px;
    padding-top: 30px;
    margin-top: 3%;
    margin-right: 10px;
    background-color: #01334aea;
    text-align: center;
    color: white;
    border-top: 0.5px solid white;

}





/* About Page */
.image-stud{
    height: 500px;
}
.image1{
    height: 100%;
    width: 100%;
    background-image: url("photo27.jpg");
    background-size: cover; 
    background-position: center;
}
.about{
 color: #ffffff;
 font-size: 120px;
 font-weight: 800;
 text-align: center;
 margin-top: 32.5%;
 text-decoration: underline;
}
.about-info-main{
    height: 400px;
    background-color:#e2e2e2 ;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-top:0 ;
}
.about-info{
    height: 350px;
    width: 50%;
    margin: 2%;
}
.about-info p{
     text-align: center;
     margin: 2%;
     font-size: 22px;
     text-shadow: 0,0,0,0.5;
}
.about-pic{
    height: 351px;
    width:33%;
    background-image: url("photo23.jpg");
    background-size: cover;
    margin: 1.5%;
    border: 4px solid rgba(255, 235, 205, 0.459);
} 
/* team section */
.team{
    height: 200px;
    text-align: center;
    background-color: #1f788fa5;
}
.team h1{
    text-decoration: underline;
    font-weight:900;
    font-size: 50px;
    margin-bottom: 2%;
}
.team p{
    margin-left:25%;
    margin-right:25% ;
    font-size: 20px;
}
.warpper{
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #225a5a69;
}
.photo{
    width: 20%;
    height: 40.2%;
    margin: 2%;
    position: relative;
}
img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 30px 30px rgba(0, 0,0,0.4);
}
.content{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0c71b06e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    opacity: 0;
    transition: 0.4s;
}
.content:hover{
    bottom: 2%;
    opacity: 1;
}
.content h1{
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 10px;
}
.content p{
    font-size: 15px;
    color: #fff;
}
.content *{
    transform: translateY(25px);
    transition: transform 0.6%;
}

.content :hover *{
    transform: translateY(0px);
}

/* Acadmics -page*/
.acad-version{
    height: 1100px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right:10%;
    background-color:#225a5a4c;
}
.acad-info{
    
    text-align: center;
}
.acadmic-image{
    height: 500px;
    background-image: url("./images/school10.jpeg");
    background-size: cover;
    background-position: center;
    text-align: center;
}
.acadmic-text{
    height: 20%;
    margin-top:1%; 
}
.acadmic-text p{
    color: white;
    font-size:70px; 
    text-align: center;
    background-color: #0c71b0b9;
    text-decoration: underline;
}
.acad-version h1{
    color: #01334aa1;
}
.acad-version p{
    margin-top:2.5% ;
    font-size: 20px;
}
.div1{
    height:35%;
    background-color: whitesmoke;
    margin-top: 5%;  
}
.div h1{
    text-align: center;   
}
.contain{
    display: flex;
    align-items: center;
    height: 80%;
    margin: 5px;
    margin-bottom: 0;
}
#pra{
    margin-left:2%;
    width:75%;  
}
.child-img{
    height:200px;
    width:200px;
    background-image: url("photo41.png");
    background-size: cover;
    background-position: center;
    margin: 4%;
}
.sch-img{
    height:200px;
    width:200px;
    background-image: url("photo42.png");
    background-size: cover;
    background-position: center;
    margin: 4%;
}
.mission-text{
    text-align: center; 
    color: #01334aa1; 
    margin-bottom: 0;
    text-decoration: underline;
    font-size: 50px;
}
.mision{
    height:500px;
    width: 80%;
    margin-left:10%;
    margin-top:0;
    margin-bottom: 5%;
    background-image:url("photo36.jpg") ;
    background-size: cover;
    background-position: center; 
}
.misssion-opacity{
    width: 40%;
    height:100%;
    background-color:#01334aa1 ;
    margin-left: 50%;
    color: white;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision{
    height:70% ;
    width: 70%;
}
.misssion-opacity #mission{
    word-spacing: 10%;
    background-color:#01334aa1 ;
    margin-left: 5%;
    margin-top: 10%
}
.misssion-opacity p{
    margin-left: 5%;
}
/*Gallery */
.gallary{
    height: 1500px;
    background-color:#82c4c634;

}    
.gallary-image{
    height: 500px;
    background-image: url("photo7.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    
}
.gallery-photo{
    padding-top: 2.5%;
    height: 500px;  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.img{
    height:35% ;
    width: 25%;
    margin-top:5%;
    margin: 2%;
    border-radius: 10px;
    border:2px solid rgba(224, 199, 203, 0.729) ;
    background-size: cover;
    transition: all 0.5s ease-in  ;
}
.img:hover{
    transform: scale(1.1);
} 


/**Contact Us**/
.contact-back-image{
    background-image: url("photo3.jpg");
    height: 700px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact{
    height: 500px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #510e7097;
    
    
    
}

.conatact1{
    height: 80%;
    width: auto;
    border: 2px solid black;
}

.con-add{
    height:30vmin ;
    align-items: center;
    width:40vmin ;
    margin-left: 10rem;
    background-color: white;
    border-radius: 5%;
    text-align: center;
    border: 2px solid #0e4e70;
    font-size: 1rem;
    margin-top: 1vmin;
}

.container9 {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
label {
    font-weight: bold;
}
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.error-message {
    color: red;
    margin-top: 5px;
}

.container { width: 50%;
    margin: 50px auto;
     background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #fff;
    background-color:#45a049 ;
    border-radius: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
      
textarea {
    height: 100px;
}
.con-form{
    margin-left:10% ;
    padding:20px;
    border-radius: 10px;
  }

.conatact2{
    height: 600px;
    margin-bottom: 5px;
}
.map{
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    /* margin-bottom:5px ; */
    border-radius: 1rem;
    border: 3px solid  rgba(0, 0, 0, 0.349);
}

.map iframe{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
